.first-header-font {
  font-family: 'Bebas Neue', cursive;
  color: #363958;
  font-size: 80px;
}
.second-header-font {
  font-family: 'Bebas Neue', cursive;
  color: #76c27e;
  font-size: 80px;
}
.third-header-font,
h5 {
  font-family: 'Bebas Neue', cursive;
  color: #363958;
  font-weight: 48px;
}
.price-text {
  color: #76c27e;
  /* font-size: 36px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif; */
}
.card-border {
  border: 0px;
}
.card-body-height {
  height: 50px;
}
.card-title-new {
  color: #363958;
}
